body {  
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Players {
  display: flex;
  flex-wrap: wrap;
}

.Players > div {
  background-color: DodgerBlue;
  color: white;
  flex: 1 0 21%; 
  margin: 10px;
  font-size: 24px;
}

p {
  margin: 5px;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

.Players > div > h2 {
  
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
